page-lista {

}

div#destacado{
	ion-item-divider{
		color: #fff;
		font-weight: bold;
		font-size: 7vw;
	}
	
}

ion-list#destacado2{
	border-style: solid;
	border-color: #e7970c;
	border-width: 2px;
	border-bottom-width: 2px;
}

h3#estrellas{
	text-align: center;
}

div#estrellas{
	text-align: center;
}