<!--
  Generated template for the ListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="verdeapp">
    <ion-title>Servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="valor()">
	<ion-list id="destacado2" >
		<div id="destacado">
			<ion-item-divider >DESTACADOS</ion-item-divider>
		</div>
			<div *ngFor="let in of item.clientes">
				<ion-item (click)="goToDetalle(in,item.tipo)" *ngIf="in.destacado">
			      <ion-thumbnail item-start >
			        <img src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{in.nombre}}/{{in.nombre}}.png">
			      </ion-thumbnail>
			      <h2>{{ in.nombre }}</h2 >
			      <h3>{{ in.servicio }}</h3 >
			      <p>{{ in.direccion }}</p >
			      <ion-icon name="ios-call" color="verde" item-end></ion-icon>
			    </ion-item>
		    </div>
	</ion-list>
	</div>


	<ion-list>
	    <ion-item *ngFor="let in of item.clientes" (click)="goToDetalle(in)" >
	      <ion-thumbnail item-start >
	        <img src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{in.nombre}}/{{in.nombre}}.png">
	      </ion-thumbnail>
	      <h2>{{ in.nombre }}</h2>
	      <h3>{{ in.servicio }}</h3>
	      <h2>{{ in.whatsapp }}</h2>
	      <p>{{ in.direccion }}</p>
	    </ion-item>
	  </ion-list>

</ion-content>
