page-lista {


}

button#boton{
	min-width: 1%;

}

div#destacado{
	ion-item-divider{
		color: #fff;
		font-weight: bold;
		font-size: 7vw;
    height: 30px;
	}
	
}

ion-list#destacado2{
	border-style: solid;
	border-color: #e7970c;
	border-width: 2px;
	border-bottom-width: 2px;
}

h3#estrellas{
	text-align: center;
}

div#estrellas{
	text-align: center;
}

p#delivery{
	color: #ff0000;
}

ion-slides#slides{
  justify-content: center;
  margin-left: 10px;
}

div#caja{
  margin-left: -10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}
.bar.bar-loading {
  display: block;
  height: 24px;
  
  /* starts right below a normal header */
  top: 44px;
  
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}


/* 
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
.has-header.has-loading {
  /* 44px (header) + 24px */
  top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}



ion-scroll[scrollX] {
    white-space: nowrap;
    height: 45px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }

    .selectable-icon{
      margin: 10px 20px 10px 20px;
      color: red;
      font-size: 100px;
    }

    ion-avatar img{
      margin: 10px;
    }
  }

  ion-scroll[scroll-avatar]{
    height: 60px;
  }

  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  }
ion-thumbnail#alaizquierda{
  margin-left: -10px;
  margin-right: -67px;
}

img#alaizquierda{
  width: 10px;
  height: 70px;
  margin-top: 5px;
}

ion-thumbnail#aladerecha{
  margin-left: -23px;
  margin-right: -60px;
}

img#aladerecha{
  width: 10px;
  height: 70px;
  margin-top: 5px;
}

img#alatop{
  height: 10px;
  margin-bottom: 2px;
  width: 70px;
}

img#alabot{
  height: 10px;
  margin-top: 2px;
  width: 70px;
}

img#logocliente{
  height: 70px;
  width: 70px;
}

ion-item#caja{
  margin-top: 0px;
}