<!--
  Generated template for the ListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="verdeapp">
    <ion-title>{{item.tipo}}</ion-title>
  
    <ion-buttons end>
      <button ion-button block outline color="amarillo" (click)="goToPromociones()">PROMOS</button>

      <button ion-button icon-end>
      <ion-icon name="pin"></ion-icon>
      </button>
   
      <button ion-button icon-end>
      <ion-icon name="options"></ion-icon>
      </button>

      <button ion-button icon-only (click)="abrirServicios()">
      <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
	<div id="caja3">
	<ion-slides autoplay="3000" loop="true" spaceBetween="0" id="slides3">
			    <ion-slide><img src="http://serviapp.cl/recursos/1.png"></ion-slide>
			    <ion-slide><img src="http://serviapp.cl/recursos/2.png"></ion-slide>
			    <ion-slide><img src="http://serviapp.cl/recursos/3.png"></ion-slide>
	</ion-slides>
</div>

	<div *ngIf="valor()">
	<ion-list id="destacado2" >
		<div id="destacado">
			<ion-item-divider id="desta">DESTACADOS</ion-item-divider>
		</div>
			<div *ngFor="let in of item.clientes">
				<ion-item (click)="goToDetalle(in,item.tipo)" *ngIf="in.destacado == 1;else destacado2">
		    	  <ion-thumbnail id="alaizquierda" item-start>
			        <img id="oroizq" src="images/destacados/doradoizq.png">
			      </ion-thumbnail>
			      <ion-thumbnail id="logocliente" item-start>
			      	<img id="orotop" src="images/destacados/doradotop.png">
			        <img id="logocliente" src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{in.nombre}}/{{in.nombre}}.png">
			        <img id="orobot" src="images/destacados/doradobot.png">
			      </ion-thumbnail>
			      <ion-thumbnail id="aladerecha" item-start>
			        <img id="oroder" src="images/destacados/doradoder.png">
			      </ion-thumbnail>
			      <h2>{{ in.nombre }}</h2>
			      <h3>{{ in.servicio }}</h3>
			      <p *ngIf="in.domicilio" id="delivery"><ion-icon name="md-bicycle" color="rojo"></ion-icon> {{ in.domicilio }} </p>
			      <p>{{ in.direccion }}</p>
			      <ion-icon name="ios-call" color="verde" (click)="llamar(in.teldestacado)" item-end></ion-icon> 
		    	</ion-item>

		    	<ng-template #destacado2>
				<ion-item (click)="goToDetalle(in,item.tipo)" *ngIf="in.destacado == 2;else destacado3">
			      <ion-thumbnail id="alaizquierda" item-start>
			        <img id="plataizq" src="images/destacados/plateadoizq.png">
			      </ion-thumbnail>
			      <ion-thumbnail id="logocliente" item-start>
			      	<img id="platatop" src="images/destacados/plateadotop.png">
			        <img id="logocliente" src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{in.nombre}}/{{in.nombre}}.png">
			        <img id="platabot" src="images/destacados/plateadobot.png">
			      </ion-thumbnail>
			      <ion-thumbnail id="aladerecha" item-start>
			        <img id="platader" src="images/destacados/plateadoder.png">
			      </ion-thumbnail>
				  <h2>{{ in.nombre }}</h2>
				  <h3>{{ in.servicio }}</h3>
				  <p *ngIf="in.domicilio" id="delivery"><ion-icon name="md-bicycle" color="rojo"></ion-icon> {{ in.domicilio }} </p>
				  <p>{{ in.direccion }}</p>
				  <ion-icon name="ios-call" color="verde" (click)="llamar(in.teldestacado)" item-end></ion-icon> 
			    </ion-item>
				</ng-template>

				
				<ng-template #destacado3>
			    <ion-item (click)="goToDetalle(in,item.tipo)" *ngIf="in.destacado == 3">
		    	  <ion-thumbnail id="alaizquierda" item-start>
			        <img id="cobreizq" src="images/destacados/cobreizq.png">
			      </ion-thumbnail>
			      <ion-thumbnail id="logocliente" item-start>
			      	<img id="cobretop" src="images/destacados/cobretop.png">
			        <img id="logocliente" src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{in.nombre}}/{{in.nombre}}.png">
			        <img id="cobrebot" src="images/destacados/cobrebot.png">
			      </ion-thumbnail>
			      <ion-thumbnail id="aladerecha" item-start>
			        <img id="cobreder" src="images/destacados/cobreder.png">
			      </ion-thumbnail>
			      <h2>{{ in.nombre }}</h2>
			      <h3>{{ in.servicio }}</h3>
			      <p *ngIf="in.domicilio" id="delivery"><ion-icon name="md-bicycle" color="rojo"></ion-icon> {{ in.domicilio }} </p>
			      <p>{{ in.direccion }}</p>
			      <ion-icon name="ios-call" color="verde" (click)="llamar(in.teldestacado)" item-end></ion-icon> 
		    	</ion-item>
		    	</ng-template>
		    </div>
		  
	</ion-list>
	</div>


	<ion-list>
	    <ion-item id="caja" *ngFor="let in of item.clientes" (click)="goToDetalle(in,item.tipo)">
	    	<ion-thumbnail id="alaizquierda" item-start >
	      	<div *ngIf="in.destacado == 1"><img id="oroizq" src="images/destacados/doradoizq.png"></div>
	        <div *ngIf="in.destacado == 2"><img id="plataizq" src="images/destacados/plateadoizq.png"></div>
	        <div *ngIf="in.destacado == 3"><img id="cobreizq" src="images/destacados/cobreizq.png"></div>
	      </ion-thumbnail>
	      <ion-thumbnail item-start >
	      	<div *ngIf="in.destacado == 1"><img id="orotop" src="images/destacados/doradotop.png"></div>
	        <div *ngIf="in.destacado == 2"><img id="platatop" src="images/destacados/plateadotop.png"></div>
	        <div *ngIf="in.destacado == 3"><img id="cobretop" src="images/destacados/cobretop.png"></div>
	        <img id="logocliente" src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{in.nombre}}/{{in.nombre}}.png">
	        <div *ngIf="in.destacado == 1"><img id="orobot" src="images/destacados/doradobot.png"></div>
	        <div *ngIf="in.destacado == 2"><img id="platabot" src="images/destacados/plateadobot.png"></div>
	        <div *ngIf="in.destacado == 3"><img id="cobrebot" src="images/destacados/cobrebot.png"></div>
	      </ion-thumbnail>
	      <ion-thumbnail id="aladerecha" item-start >
	      	<div *ngIf="in.destacado == 1"><img id="oroder" src="images/destacados/doradoder.png"></div>
	        <div *ngIf="in.destacado == 2"><img id="platader" src="images/destacados/plateadoder.png"></div>
	        <div *ngIf="in.destacado == 3"><img id="cobreder" src="images/destacados/cobreder.png"></div>
	      </ion-thumbnail>
	      <h2>{{ in.nombre }}</h2>
	      <h3>{{ in.servicio }}</h3>
	      <p *ngIf="in.domicilio" id="delivery"><ion-icon name="md-bicycle" color="rojo"></ion-icon> {{ in.domicilio }} </p>
	      <p>{{ in.direccion }}</p>
	      <ion-icon name="ios-call" color="verde" (click)="llamar(in.teldestacado)" *ngIf="in.destacado" item-end></ion-icon>
	    </ion-item>
	  </ion-list>


</ion-content>
