page-popover{
	
}

ion-card-header#metodos{
	margin-top: -10px;
	margin-left: -10px;
	margin-bottom: -10px;
	color: white;
}

h2#titulo{
	font-size: 20px;
	margin-top: 1px;
	background-color: #37a852;
	color: white;
}

ion-card-header#titulo2{
	margin-top: -10px;
	margin-left: -15px;
	margin-bottom: -30px;
	background-color: #37a852;
}

div#elementos{
	color: white;


}

ion-row#weaita{
	margin-left: -10px;

}

ion-card#todo{
	background-color: #449257;
	margin-left: -5px;
}

img#iconos{

}

ion-card-content#cajas{
	margin-bottom: -15px;

}

div#cuerpo{
	background-color: #37a852;
	padding-bottom: 5px;

}

ion-row#wea{
	margin-left: 1px;

}