<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-card-header id="titulo2">
    <ion-title><h2 id="titulo">Servicios Extras</h2></ion-title>
</ion-card-header>

<div id="cuerpo">
	<ion-card id="todo" col-12>
	  <ion-card-header id="metodos">
	    Métodos de pago
	  </ion-card-header>

	  <ion-card-content id="cajas" col-12>
	  	<ion-row id="wea">
	  		<div col-6 *ngIf="item.efectivo">
	  			<ion-row id="weaita">
			  	<div col-3>
				    <img id="iconos" src="images/metodos/efectivo.png"> 
			    </div>
			    <div col-9 id="elementos">
					Efectivo
				</div>
				</ion-row>
			</div>

			<div col-6 *ngIf="item.cheque">
				<ion-row id="weaita">
				<div col-3>
				    <img id="iconos" src="images/metodos/cheque.png">
			  	</div>
			  	<div col-9 id="elementos">
			  		Cheque
			  	</div>
			  	</ion-row>
		 	</div>
			
			<div col-6 *ngIf="item.credito">
				<ion-row id="weaita">
			  	<div col-3>
				    <img id="iconos" src="images/metodos/credito.png"> 
			    </div>
			    <div col-9 id="elementos">
					Crédito
				</div>
				</ion-row>
			</div>

			<div col-6 *ngIf="item.debito">
				<ion-row id="weaita">
				<div col-3>
				    <img id="iconos" src="images/metodos/debito.png">
			  	</div>
			  	<div col-9 id="elementos">
			  		Débito
			  	</div>
			  </ion-row>
		  	</div>
	    </ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card id="todo" col-12>
	  <ion-card-header id="metodos">
	    Otros servicios
	  </ion-card-header>

	  <ion-card-content id="cajas" col-12>
	  	<ion-row id="wea">
	  		<div col-6 *ngIf="item.cargabip">
	  			<ion-row id="weaita">
			  	<div col-3>
				    <img id="iconos" src="images/metodos/bip.png"> 
			    </div>
			    <div col-9 id="elementos">
					Carga Bip!
				</div>
				</ion-row>
			</div>

			<div col-6 *ngIf="item.cajavecina">
				<ion-row id="weaita">
				<div col-3>
				    <img id="iconos" src="images/metodos/serviestado.png">
			  	</div>
			  	<div col-9 id="elementos">
			  		Caja Vecina
			  	</div>
			  	</ion-row>
		 	</div>
			
			<div col-6 *ngIf="item.multicaja">
				<ion-row id="weaita">
			  	<div col-3>
				    <img id="iconos" src="images/metodos/multicaja.png"> 
			    </div>
			    <div col-9 id="elementos">
					Multicaja
				</div>
				</ion-row>
			</div>
		</ion-row>
	  </ion-card-content>

	</ion-card>

</div>