<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<content>
	
	<ion-list-header id="titulo1">
	 Medios de pago
	</ion-list-header>
	
	<ion-list id="caja1">
	  <ion-row id="row">
	  <ion-item id="elemento" col-6 *ngIf="item.efectivo"><h3><img src="images/metodos/efectivo.png" id="icono1">Efectivo</h3></ion-item>
	  <ion-item id="elemento" col-6 *ngIf="item.credito"><h3><img src="images/metodos/credito.png" id="icono1">Crédito</h3></ion-item>
	  <ion-item id="elemento" col-6 *ngIf="item.debito"><h3><img src="images/metodos/debito.png" id="icono1">Débito</h3></ion-item>
	  <ion-item id="elemento" col-6 *ngIf="item.cheque"><h3><img src="images/metodos/cheque.png" id="icono1">Cheque</h3></ion-item>
	  <ion-item id="elemento" col-6 *ngIf="item.junaeb"><h3><img src="images/metodos/junaeb.png" id="icono1">Junaeb</h3></ion-item>
	  <ion-item id="elemento" col-6 *ngIf="item.ticket"><h3><img src="images/metodos/ticket.png" id="icono1">Ticket</h3></ion-item>
	  </ion-row>
	</ion-list>

	<ion-list-header id="titulo2" *ngIf="item.cargabip == 'si' || item.cajavecina == 'si' || item.multicaja == 'si'">
	  Otros servicios
	</ion-list-header>

	<ion-list id="caja2">
	  <ion-item id="elemento" *ngIf="item.cargabip"><h3><img src="images/metodos/bip.png" id="icono2">Carga Bip!</h3></ion-item>
	  <ion-item id="elemento" *ngIf="item.cajavecina"><h3><img src="images/metodos/serviestado.png" id="icono2">Caja Vecina</h3></ion-item>
	  <ion-item id="elemento" *ngIf="item.multicaja"><h3><img src="images/metodos/multicaja.png" id="icono2">Multicaja</h3></ion-item>
	</ion-list>

</content> 
