page-popover{
	
}

content#todo{

}


ion-list-header#titulo1{
	margin-top: -1px;
	margin-bottom: -10px;
	background-color: #00aa4b;
	color: #ffffff;

}

ion-list-header#titulo2{
	margin-top: -1px;
	margin-bottom: -10px;
	background-color: #00aa4b;
	color: #ffffff;

}

img#icono1{
	width: 25px;
	margin-right: 5px;
	margin-bottom: -3px;

}

img#icono2{
	width: 20px;
	margin-right: 5px;
	margin-bottom: -3px;
}

ion-list#caja1{
	background-color: #b2d7c2;
	margin-bottom: -5px;

}

ion-list#caja2{
	margin-bottom: 0px;
	background-color: #b2d7c2;

}

ion-item#elemento{
	background-color: #b2d7c2;
	height: 15px;

}

ion-row#row{

}

content#titulo1{
	margin-bottom: 30px;
}