page-detalle {

}

ion-footer{
	text-align: center;
}

div#llamar{
	margin-top: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 6vw;
}

div#icono{
	font-size: 8vw;
}

div#info{
	text-align: center;
}

div#infodelivery{
	text-align: center;
	color: #ff0000;
}

div#info.nombre{
	font-weight: bold;
	font-size: 6.5vw;
	margin-bottom: -10px;
}

div#info.servicio{
	position: absolute;
	font-size: 0.5vw;
}

div#numeros{
	margin-top: -15px;
	font-size: 3vw;
	button{
	width: 100%;
	}	
}

ion-row#telefono{
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}

ion-icon#icono{
	margin-left: -10px;
	margin-top: 3px;
}
 
ion-icon#botonfb{
	text-align: center;
	font-size: 10vw;
	margin-top: 0px;
	margin-left: -10px;
}

ion-row#rowbotones{
	margin-left: 1px;
	text-align: center;
	margin-top: 5px;
	justify-content: center;
}

div#divbotones{
	justify-content: center;
}

ion-slide{
	
}

ion-content#listaprecio{
	height: 180px;
	width: 100%;

}

ion-list#vamos{
	margin-left: -20px;
	margin-right: -20px;
}

ion-note#precio{
	color: #000000;

}

div#segment{
	
}

ion-segment#promo{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;

}

ion-segment-button#palabrapromo{
	color: white;
	background-color: black;
}

h4#delivery{
	color: #ff0000;
}

ion-content#horario{
	height: 400px;
}