<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="verdeapp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.nombre}}</ion-title> 
    <ion-buttons end>
      <button ion-button icon-only color="red">
        <ion-icon name="heart"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="presentPopover($event,item)">
        <ion-icon name="logo-usd"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-row>
    <div col-5>
        <ion-thumbnail item-start >
          <div *ngIf="item.destacado == 1"><img id="orotop2" src="images/destacados/perfil/doradotop.png"></div>
          <div *ngIf="item.destacado == 2"><img id="platatop2" src="images/destacados/perfil/plateadotop.png"></div>
          <div *ngIf="item.destacado == 3"><img id="cobretop2" src="images/destacados/perfil/cobretop.png"></div>
          <img src="http://www.serviapp.cl/recursos/clientes/{{item.tipo}}/{{item.nombre}}/{{item.nombre}}.png">
          <div *ngIf="item.destacado == 1"><img id="orobot2" src="images/destacados/perfil/doradobot.png"></div>
          <div *ngIf="item.destacado == 2"><img id="platabot2" src="images/destacados/perfil/plateadobot.png"></div>
          <div *ngIf="item.destacado == 3"><img id="cobrebot2" src="images/destacados/perfil/cobrebot.png"></div>
        </ion-thumbnail> 
    </div>

    <div col-7>
        <div col-12 id="info" class="nombre">
          {{item.nombre}}
        </div>
        <div col-12 id="info">
          {{item.servicio}}
        </div>
        <div col-12 id="info" *ngIf="item.direccion">
          <ion-icon name="md-pin" color="rojo"></ion-icon> {{item.direccion}}
        </div>

        <div col-12 id="infodelivery" *ngIf="item.domicilio">
          <ion-icon name="md-bicycle" color="rojo"></ion-icon> {{item.domicilio}}
        </div>

    </div>
  </ion-row>

  <ion-row id="telefono">

    <div col-6 id="numeros" *ngIf="item.telfijo1">
      <button ion-button round icon-left outline color="rojo"  (click)="llamar(item.telfijo1)">
        <div col-1>
          <ion-icon name="md-home" color="rojo" id="icono"></ion-icon>
        </div>
        <div col-11>
          {{item.telfijo1}}
        </div>  
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.telfijo2">
      <button ion-button round icon-left outline color="rojo"  (click)="llamar(item.telfijo2)">
        <div col-1>
          <ion-icon name="md-home" color="rojo" id="icono"></ion-icon>
        </div>
         <div col-11>
          {{item.telfijo2}}
        </div>
      </button>       
    </div>

    <div col-6 id="numeros" *ngIf="item.telfijo3">
      <button ion-button round icon-left outline color="rojo"  (click)="llamar(item.telfijo3)">
        <div col-1>
        <ion-icon name="md-home" color="rojo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.telfijo3}}
        </div>
      </button>       
    </div>

    <div col-6 id="numeros" *ngIf="item.celular1">
      <button ion-button round icon-left outline color="naranjo"  (click)="llamar(item.celular1)">
        <div col-1>
        <ion-icon name="md-phone-portrait" color="naranjo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.celular1}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.celular2">
      <button ion-button round icon-left outline color="naranjo"  (click)="llamar(item.celular2)">
        <div col-1>
        <ion-icon name="md-phone-portrait" color="naranjo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.celular2}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.celular3">
      <button ion-button round icon-left outline color="naranjo"  (click)="llamar(item.celular3)">
        <div col-1>
        <ion-icon name="md-phone-portrait" color="naranjo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.celular3}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.whatsapp1">
      <button ion-button round icon-left outline color="verde"  (click)="abrirWhatsapp(item.whatsapp1)">
        <div col-1>
        <ion-icon name="logo-whatsapp" color="verde" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.whatsapp1}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.whatsapp2">
      <button ion-button round icon-left outline color="verde"  (click)="abrirWhatsapp(item.whatsapp2)">
        <div col-1>
        <ion-icon name="logo-whatsapp" color="verde" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.whatsapp2}}
        </div>
      </button>        
    </div>
    
  </ion-row>


  <div id="divbotones">
  <ion-row id="rowbotones">
  <div col-2 *ngIf="item.facebook" (click)="abrirWeb(item.facebook)"><img src="images/iconos/facebook.png"></div>
  <div col-2 *ngIf="item.instagram" (click)="abrirWeb(item.instagram)"><img src="images/iconos/instagram.png"></div>
  <div col-2 *ngIf="item.pagweb" (click)="abrirWeb(item.pagweb)"><img src="images/iconos/web.png"></div>
  <div col-2 *ngIf="item.correo" (click)="mailto(item.correo)"><img src="images/iconos/correo.png"></div>
  <div col-2 *ngIf="item.direccion" (click)="abrirWeb(item.direlink)"><img src="images/iconos/direccion.png"></div>
  </ion-row>
  </div>

<div id="segment" >
  <ion-segment [(ngModel)]="pet" id="promo"  color="negro">
    <ion-segment-button value="promocion" id=palabrapromo *ngIf="item.promocion[0].pro">
      Promoción
    </ion-segment-button>
    <ion-segment-button value="catalogo" id=palabrapromo *ngIf="item.catalogo[0].cat">
      Catálogo
    </ion-segment-button>
    <ion-segment-button value="horario" id=palabrapromo >
      Horario
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'promocion'">
      <ion-slides pager>
        <ion-slide *ngFor="let pr of item.promocion">
          <img src="http://www.serviapp.cl/recursos/clientes/{{tipo}}/{{item.nombre}}/{{pr.pro}}.png" imageViewer>
        </ion-slide>
      </ion-slides>
  </ion-list>
 
  <ion-list *ngSwitchCase="'catalogo'">
      <ion-slides pager>
        <ion-slide *ngFor="let ca of item.catalogo">
          <img src="http://www.serviapp.cl/recursos/clientes/{{tipo}}/{{item.nombre}}/{{ca.cat}}.png" imageViewer>
        </ion-slide>
      </ion-slides>
  </ion-list>

  <ion-content *ngSwitchCase="'horario'"  id="horario">
    <ion-item-group *ngFor="let ca of item.horario">
      <ion-item-divider color="verdeapp" id="dia">{{ca.dia}}</ion-item-divider>
      <ion-item *ngFor="let pe of ca.hora" text-center>{{pe.hr}}</ion-item>
    </ion-item-group>
  </ion-content>


</div>
  
</ion-content>