<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="verdeapp" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.nombre}}</ion-title> 
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="presentPopover($event)">
        <ion-icon name="md-help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-row>
    <div col-5>
        <img src="images/logos/{{item.nombre}}.png">      
    </div>
    <div col-7>
        <div col-12 id="info" class="nombre">
          {{item.nombre}}
        </div>
        <div col-12 id="info">
          {{item.servicio}}
        </div>
        <div col-12 id="info">
          <ion-icon name="md-pin" color="rojo"></ion-icon> {{item.direccion}}
        </div>
    </div>
  </ion-row>

  <ion-row id="telefono">

    <div col-6 id="numeros" *ngIf="item.telfijo1">
      <button ion-button icon-left outline color="rojo"  (click)="llamar(item.telfijo1)">
        <div col-1>
          <ion-icon name="md-home" color="rojo" id="icono"></ion-icon>
        </div>
        <div col-11>
          {{item.telfijo1}}
        </div>
        
        
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.telfijo2">
      <button ion-button icon-left outline color="rojo"  (click)="llamar(item.telfijo2)">
        <div col-1>
          <ion-icon name="md-home" color="rojo" id="icono"></ion-icon>
        </div>
         <div col-11>
          {{item.telfijo2}}
        </div>
      </button>       
    </div>

    <div col-6 id="numeros" *ngIf="item.telfijo3">
      <button ion-button icon-left outline color="rojo"  (click)="llamar(item.telfijo3)">
        <div col-1>
        <ion-icon name="md-home" color="rojo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.telfijo3}}
        </div>
      </button>       
    </div>

    <div col-6 id="numeros" *ngIf="item.celular1">
      <button ion-button icon-left outline color="naranjo"  (click)="llamar(item.celular1)">
        <div col-1>
        <ion-icon name="md-phone-portrait" color="naranjo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.celular1}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.celular2">
      <button ion-button icon-left outline color="naranjo"  (click)="llamar(item.celular2)">
        <div col-1>
        <ion-icon name="md-phone-portrait" color="naranjo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.celular2}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.celular3">
      <button ion-button icon-left outline color="naranjo"  (click)="llamar(item.celular3)">
        <div col-1>
        <ion-icon name="md-phone-portrait" color="naranjo" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.celular3}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.whatsapp1">
      <button ion-button icon-left outline color="verde"  (click)="llamar(item.whatsapp)">
        <div col-1>
        <ion-icon name="logo-whatsapp" color="verde" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.whatsapp1}}
        </div>
      </button>        
    </div>

    <div col-6 id="numeros" *ngIf="item.whatsapp2">
      <button ion-button icon-left outline color="verde"  (click)="llamar(item.whatsapp)">
        <div col-1>
        <ion-icon name="logo-whatsapp" color="verde" id="icono"></ion-icon>
        </div>
         <div col-11>
        {{item.whatsapp2}}
        </div>
      </button>        
    </div>
    
  </ion-row>


  <div id="divbotones">
  <ion-row id="rowbotones">
  <div col-2 *ngIf="item.facebook" (click)="abrirWeb(item.facelink)"><img src="images/iconos/facebook.png"></div>
  <div col-2 *ngIf="item.instagram" (click)="abrirWeb(item.instalink)"><img src="images/iconos/instagram.png"></div>
  <div col-2 *ngIf="item.pagweb" (click)="abrirWeb(item.pagweb)"><img src="images/iconos/web.png"></div>
  <div col-2 *ngIf="item.correo" (click)="abrirWeb(item.pagweb)"><img src="images/iconos/correo.png"></div>
  <div col-2 *ngIf="item.direccion" (click)="abrirWeb(item.direlink)"><img src="images/iconos/direccion.png"></div>
  </ion-row>
  </div>

<div id="segment" *ngIf="serviextra()">
  <ion-segment [(ngModel)]="pet" id="promo"  color="negro">
    <ion-segment-button value="promocion" id=palabrapromo *ngIf="item.promocion[0].pro">
      Promoción
    </ion-segment-button>
    <ion-segment-button value="catalogo" id=palabrapromo *ngIf="item.catalogo[0].cat">
      Catálogo
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="pet">
  <ion-list *ngSwitchCase="'promocion'">
      <ion-slides pager>
        <ion-slide *ngFor="let pr of item.promocion">
          <img src="https://i.kinja-img.com/gawker-media/image/upload/s--nuwIKL3_--/c_fill,fl_progressive,g_center,h_900,q_80,w_1600/wxyubkjmeppxmqasllft.jpg">
        </ion-slide>
      </ion-slides>
  </ion-list>
 
  <ion-list *ngSwitchCase="'catalogo'">
    <ion-content id="listaprecio"> 
      <ion-list id="vamos">
        <ion-item *ngFor="let ca of item.catalogo">{{ca.cat}}<ion-note item-end id="precio">
        {{ca.precio}}
        </ion-note></ion-item>
      </ion-list>
    </ion-content>
  </ion-list>

</div>

</ion-content>


