page-promociones {

}

div#caja100{
	margin-left: -10px;
	margin-top: -5px;
}

ion-card#barra100{
	text-align: center;
	margin-bottom: 1px;
	height: 20px;
	width: 100%;
	margin-top: 0px;
}

ion-card-header#promociones100{
	margin-top: -17px;
}

ion-slides#slides100{
	width: 100%;
	height: 200px;
	margin-top: 1px;
	margin-left: 10px;
}

